:root{
  --primary: #FCDEBE;
  --red:#EA3546;
  --orange: #CC5803;
  --yellow:#F9C80E;
  --green: #3E5622;
  --lightblue:#BBE5ED;
  --darkblue:#2589BD;
  --purple:#822E81;
  --pink:#EC368D;
  --black:#000;
  --white: #fff;
}
